.chat {
    /* background-color: #555; */
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  /* .chat:hover {
    background: red;
  } */
  
  .chat .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: rgb(52, 7, 212);
    color: white;
  }
  .chat .badge:hover {
    cursor: pointer;
  }